app:
  telegram-token: unset

bot:
  token: "${TOKEN}"
spring:
  application:
    name: bot
  jackson:
    time-zone: UTC

scrapper-topic:
  name: bot_updates



server:
  port: 8090

logging:
  config: classpath:log4j2-plain.xml

springdoc:
  swagger-ui:
    path: /swagger-ui

management:
  server:
    port: 8091
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    web:
      base-path: ''
      exposure:
        include: '*'
      path-mapping:
        prometheus: 'metrics'
    enabled-by-default: false
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
    prometheus:
      enabled: true
micrometer:
  registry:
    prometheus:
      enabled: true
      step: PT1M
